
<div class="canvas_title">
    <span ng-bind="modalTitle"></span>
    <i class="iconfont select-param-i" ng-click="cancelSelect()">&#xe633;</i>
</div>
<div class="modal-body shop-selector">
    <div class="row">
        <div class="col-sm-12">
            可选：<a ng-if="paramSet.serviceType=='shop'" ng-class="{'clickStyle': status==1}" ng-click="switchSelectTab(1)">按品牌</a>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-if="paramSet.serviceType=='shop'" ng-class="{'clickStyle': status==2}" ng-click="switchSelectTab(2)">按城市</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class=" select-left-tree">
            <div ng-show="paramSet.serviceType=='shop'&& status == 2" class="col-sm-12"  id="city-tree">
                <ul class="ztree col-sm-12" id="shop" ></ul>
            </div>
            <div ng-show="paramSet.serviceType=='shop'&& status == 1" class="col-sm-12"  id="brand-tree"  >
                <ul class="ztree col-sm-12" id="brand" ></ul>
            </div>
            <div ng-if="paramSet.serviceType=='terminal'" class="col-sm-12" id="terminal-tree" >
                <ul class="ztree col-sm-12" id="terminal" ></ul>
            </div>
            <div class="all-shop-count" ng-cloak>
                <span>总计：</span><span ng-bind="operationItems.length"></span>
            </div>
        </div>
        <div class=" select-right-tree">
            <div class="select-right-tree-left-table">
                <div class="input-group col-sm-12">
                    <input type="text" class="form-control" ng-model="optionalSearch" placeholder="输入名称">
                       <span class="input-group-btn">
                          <button class="btn btn-default" type="button" ng-click="setSearchOptionalValue(optionalSearch)">Go!</button>
                       </span>
                </div>
                <div class="col-sm-12 shop-table">
                    <table class="table table-striped table-style-all table-shop-selector">
                        <thead>
                        <tr class="table-tr-first">
                            <th>序号</th>
                            <th ng-hide="true">编号</th>
                            <th>名称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-class="{'selectedtItem': optionalItem.$clickTag == 1 }" ng-click="selectItem(optionalItem)" ng-repeat="optionalItem in operationItems | filter:myFilter | filter:{'bindFlg': 0}|filter:{'showName':inputOptional} track by $index">
                            <td ng-bind="$index+1"></td>
                            <td ng-hide="true" ng-bind="optionalItem.code"></td>
                            <td ng-bind="optionalItem.showName"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="select-button select-right-tree-middle-table">
                <div class="select-multi-btn">
                    <div>
                        <button type="button" class="" ng-click="moveToRight()"><i class="iconfont">&#xe626;</i></button>
                    </div>
                    <div>
                        <button type="button" class="" ng-click="moveToLeft()"><i class="iconfont">&#xe625;</i></button>
                    </div>
                </div>
                <div class="select-all-btn">
                    <div>
                        <button type="button" class="" ng-click="moveAllToRight()"><i class="iconfont">&#xe61b;</i></button>
                    </div>
                    <div>
                        <button type="button" class="" ng-click="moveAllToLeft()"><i class="iconfont">&#xe61a;</i></button>
                    </div>
                </div>


            </div>
            <div class="select-right-tree-right-table">
                <div class="input-group col-sm-12">
                    <input type="text" class="form-control" placeholder="输入名称"  ng-model="selectedSearch">
				   <span class="input-group-btn">
					  <button class="btn btn-default" type="button" ng-click="setSearchSelectedValue(selectedSearch)">Go!</button>
				   </span>
                </div>
                <div class="col-sm-12 shop-table">
                    <table class="table table-striped table-style-all table-shop-selector">
                        <thead>
                        <tr class="table-tr-first">
                            <th>序号</th>
                            <th ng-hide="true">编号</th>
                            <th>名称</th>
                        </tr>
                        </thead>
                        <tbody id="alreadyTable">
                        <tr  ng-class="{'selectedtItem': alreadySelectedItem.$clickTag == 1 }" ng-click="selectItem(alreadySelectedItem)" ng-repeat="alreadySelectedItem in operationItems | filter:myFilter |filter:{'bindFlg':1}|filter:{'showName':inputSelected} track by $index ">
                            <td ng-bind="$index+1"></td>
                            <td ng-hide="true" ng-bind="alreadySelectedItem.code"></td>
                            <td ng-bind="alreadySelectedItem.showName"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="select-shop-count" ng-cloak>
                    <span>已选：</span><span class="count-style" ng-bind="(operationItems|filter:{'bindFlg':1}).length"></span>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <div class="row" style="text-align: center;margin: 20px 0;">
        <button type="button" class="main-all-btn-b" ng-click="confirmSelect()" style="margin-right: 10px;">确定</button><!--
        --><button type="button" class="main-all-btn-w" ng-click="cancelSelect()">取消</button>
    </div>
</div>
