<top-bar systems="systems" system-now="systemNow" tab-status="tabStatus"></top-bar>
<div ng-switch="tabStatus"  ng-class="{'menu-bar-canvas':tabStatus === 'pullRight','menu-pullLeft-bar menu-bar-canvas': tabStatus === 'pullLeft'}">
    <div class="menu-bar"  ng-switch-when="pullRight">
        <div class="menu-navi-bar">
            <div ng-repeat="group in navs track by $index" ng-class="{'nav-group': $index === 0}">
                <div  ng-click="onClickGroup(group)" ripple-button r-duration="0.8" is-open="group.id ==10035||group.id==10049?true:false"   ng-class="{true: 'menu-tab-parent menu-tab menu-active', false: 'menu-tab menu-tab-parent', undefined: 'menu-tab menu-tab-parent'}[group.ng_show]">
                    <i class="iconfont iconfont-left" ng-bind-html="group.icon | getIconNomal"></i><span class="iconfont-left" ng-bind="group.title "></span>
                </div>
                <div ng-repeat="tab in group.content" ripple-button r-duration="0.8" ng-click="onClickTab(tab)" ng-bind="tab.title"
                     ng-class="{true: 'menu-tab-child menu-active', false: 'menu-tab-child'}[tab.ng_show]">
                </div>
            </div>
        </div>
    </div>
    <div class="menu-pullLeft-bar" ng-switch-when="pullLeft">
        <div class="menu-pullLeft-navi-bar">
            <div ng-repeat="group in navs track by $index" ng-mouseenter="status[$index]=true"  dropdown-append-to-body  uib-dropdown  is-open="status[$index]">
                <div  ng-click="onClickGroup(group)" class="menu-pullLeft-tab menu-pullLeft-tab-parent" uib-dropdown-toggle ng-disabled="true" ng-class="{'menu-pullLeft-click-tab':currentGroup==group||status[$index]}">
                    <i class="iconfont" ng-bind-html="group.icon | getIconNomal"></i>
                </div>
                <ul class="left-list-dropdown-menu" role="menu" uib-dropdown-menu>
                    <li ng-repeat="tab in group.content" ng-click="onClickLeftTab(group,tab)" ng-bind="tab.title"
                        ng-class="{true: 'menu-tab-child menu-active', false: 'menu-tab-child'}[tab.ng_show]">
                        <!--<b class="drop animate"></b>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div  ng-class="{true: 'content-pullLeft-main', false: 'content-main'}[tabStatus=='pullLeft']" >
    <div class="main_tab">
        <div id="turnleft" style="left:3px;display:none;"  class="pa tabCtrlbtn" ng-click="tabGrpTurnLeft()">
            <i class="iconfont">&#xe61a;</i>
        </div>
        <ul id="tabScrollor">
            <li ng-class="{true: 'tab active', false: 'tab'}[tab.ng_show]"
                ng-repeat="tab in tabs track by $index" ng-click="changeTab(tab)" ng-rightclick="showRightClickMenu( $event,$index )">
                <div  ng-class="{true:'first-tab',false:'other-tab'}[tab.id == 10035 || tab.id ==10049]" tooltip-class="tab-tooltip" uib-tooltip="{{tab.title}}" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-placement="bottom-right">
                    <span ng-if="tab.title.length<=4" ng-bind="tab.title"></span>
                    <span ng-if="tab.title.length>4" ng-bind="tab.title.substr(0,4)+'...'"></span>
                </div>

                <div style="width: 31px;float:right;padding-right: 10px;">
                    <i class="iconfont icn-close" ng-click="closeTab( $index,tab,$event)" ng-hide="tab.id == 10035 || tab.id ==10049">&#xe633;</i>
                </div>

            </li>
        </ul>
        <div id="turnright" style="right:0;display:none;"  class="pa tabCtrlbtn" ng-click="tabGrpTurnRight()">
            <i class="iconfont">&#xe61b;</i>
        </div>
    </div>
    <div id="container"></div>
    <div class="footer">
        <p>Copyright ©1998-2016 天津市神州商龙科技股份有限公司版权所有</p>
    </div>
</div>

<div id="rightClickmenu" class="home-right-click-menu">
    <div ng-click="closeOther('left')" class="home-right-click-text">关闭左侧页面</div>
    <div ng-click="closeOther('right')" class="home-right-click-text">关闭右侧页面</div>
    <div ng-click="closeSelf()" class="home-right-click-text">退出菜单</div>
</div>