<div  id="posTopbar">
	<div  id="posInfo">
		<div class="col-xs-6">
			<span ng-bind="currDate.year"></span>年
			<span ng-bind="currDate.month"></span>月
			<span ng-bind="currDate.date"></span>日&nbsp;
			<span ng-bind="currDate.day"></span>&nbsp;
			<span ng-bind="currDate.time"></span>&nbsp;
			<i class="iconfont">&#xe66e;</i>
			<a ng-bind="userTerminal.terminaName + '  '+ userTerminal.terminalCode"  ng-click="switchTerminal()"></a>
		</div>
		<div class="col-xs-6 text-right">
			<!--<button class="btn btn-default" ng-click="goselectedpos()" ng-show="isPosHome()">首页</button>-->
			<button class="btn btn-default" ng-click="lockSystem()">锁定</button>
			<button class="btn btn-default" ng-click="posPrint()">打印</button><!--ng-click="posPrint()"-->
			<button class="btn btn-default"ng-click="posPrintSet()">参数设置</button>
		</div>
	</div>



	<div class="pos-print" ng-show="posPrinter">
<!--		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="active"><a href="#">结班打印</a></li>
			<li role="presentation"><a href="#">重新打印</a></li>
		</ul>
		<period start-time="printStartTime" end-time="printEndTime"></period>-->

		<uib-tabset active="activeForm">
			<i class="iconfont" style="float:right;" ng-click="closePosPrint()">&#xe63c;</i>
			<uib-tab index="0" heading="结班打印">
				<period start-time="printStartTime" end-time="printEndTime" has-time="true"></period>
			</uib-tab>
			<uib-tab index="1" heading="重新打印">
				dd
			</uib-tab>
		</uib-tabset>
	</div>
</div>

