<div id="{{'ControlBarWrapper'+randomId}}" style="position: relative;margin-bottom: 20px">
<div class="shaixuan">
    <div ng-if="conditions.filter"
         ng-class="{'list-page-special': !conditions.filter.length > 0, 'list-page': conditions.filter.length >0}" style="margin-bottom: 0px">
        <div class="canvas_title canvas-title-special">
            <div class="select-all" style=" display: inline-block;float: left;">
                筛选
            </div>
            <div ng-click="forbidden($event)" ng-if="conditions.datePicker" class="card-inHead"
                 style="float: left;margin-top: 2px">
                <a class="data-filter"
                   ng-class="{'add-inHead shaixuan-a-inHead':dater.state, 'shaixuan-a-inHead ': !dater.state}"
                   ng-repeat="dater in conditions.datePicker.value"
                   ng-click="ruleStatus_click(conditions.datePicker,dater)" ng-bind="::dater.name"></a>
            </div>
            <div class="time-span col-xs-4 pl10" style="padding-right: 0px" ng-click="forbidden($event)" ng-if="conditions.datePicker">
                <period start-time="conditions.datePicker[conditions.datePicker.requestFiled[1]]"
                        end-time="conditions.datePicker[conditions.datePicker.requestFiled[2]]" ng-if="conditions.datePicker.requestFiled[2]"></period>
                <month-select month="conditions.datePicker[conditions.datePicker.requestFiled[1]]" ng-if="!conditions.datePicker.requestFiled[2]"></month-select>
            </div>
            <select class="form-control col-xs-4 all-selects"
                    ng-if="conditions.select&&conditions.select.options.length>1" ng-click="forbidden($event)" ng-model="selType"
                    ng-change="changeSelType(selType)" style="margin-top: -6px;"
                    ng-options="selector as selector.name for selector in conditions.select.options">
            </select>
            <div class="input-group col-sm-6" style="width: 230px;margin-top: -6px;float: left;"
                 ng-class="{false: 'ml37'}[conditions.select&&conditions.select.options.length>1]"
                 ng-click="forbidden($event)"
                 ng-if="conditions.search">
                <input type="text" class="form-control"
                       style="border-top-left-radius: 0;border-bottom-left-radius: 0; border-color: #cccfd8;"
                       placeholder="{{'请输入'+(conditions.select?(conditions.select.options.length==1?conditions.select.options[0].name:selType.name):selType.name)+'进行搜索'}}"
                       ng-model="conditions.searchValue">
                <span class="input-group-btn">
                 <button class="btn btn-default" style=" border-color: #cccfd8;outline: none;" type="button" ng-click="score_post()">
                     <i class="iconfont" style="margin-right:0;">&#xe61f;</i>
                 </button>
                </span>
            </div>
            <flex flex-data="conditions.isCollapsed" ng-if="conditions.filter.length > 0"></flex>
            <i class="iconfont rules-head-right fixed-icon" ng-class="{true: 'fixed-icon-on'}[isFixed]" ng-click="fix()">&#xe680;</i>
        </div>
        <div uib-collapse="!conditions.isCollapsed" class="canvas-bottom-special">
            <div class="shaixuan_content" ng-if="conditions.filter.length > 0">
                <div ng-repeat="condition in conditions.filter">
                    <div class="card container" ng-if="condition.type == 'normal'">
                        <div class="main col-sm-1 " style="width:70px" ng-bind="::condition.field"></div>
                        <div ng-repeat="key in condition.value track by $index" ng-click="ruleStatus_click(condition, key)" ng-class="{'add col-sm-1':key.state, 'col-sm-1 ': !key.state}"
                             tooltip-class="tab-tooltip" uib-tooltip="{{key.name.length>5?key.name:''}}" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-placement="bottom" ng-cloak>
                            <a  ng-cloak ng-bind="key.name.length <=5 ?key.name: key.name.substr(0,5)+'...'">
                            </a>
                            <!--<var ng-if="key.count" ng-bind="key.count"></var>-->
                        </div>
                        <div class="col-sm-1" uib-popover-template="condition.templateUrl" popover-placement="bottom"
                             popover-trigger="outsideClick" ng-if="condition.moreValue">更多..
                        </div>
                    </div>


                    <div class="card container" ng-if="condition.type == 'dateFlex'">
                        <div class="main col-sm-1" style="width:70px" ng-bind="::condition.field"></div>
                        <div ng-repeat="key in condition.value" ng-click="ruleStatus_click(condition, key)" ng-class="{'add col-sm-1':key.state, 'col-sm-1 ': !key.state}" ng-cloak>
                            <a ng-bind="::key.name"></a></div>
                        <div class="time-span col-sm-3">
                            <period start-time="condition[condition.requestFiled[1]]"
                                    end-time="condition[condition.requestFiled[2]]"></period>
                        </div>
                    </div>

                </div>
                <div class="card container" ng-if="conditions.more">
                        <select ng-model="moreType" ng-change="changeFilter(moreType)" class="form-control main col-sm-1 condition-select" style="margin-right:5px">
                            <option value="0">品牌</option>
                            <option value="1">城市</option>
                            <option value="2">自定义门店组合</option>
                        </select>
                    <div ng-repeat="mc in moreConditions.value track by $index"
                         ng-click="ruleStatus_click(moreConditions, mc)" ng-class="{'add shaixuan-a':mc.state, 'shaixuan-a': !mc.state}" class="col-sm-1" ng-cloak>
                         <a  ng-bind="::mc.name"></a></div>
                    <div class="col-sm-1" uib-popover-template="moreConditions.templateUrl" popover-placement="bottom"
                         popover-trigger="outsideClick" ng-if="moreConditions.moreValue">更多..
                    </div>
                </div>
                <hr ng-if="conditions.more">
                <div class="card container" ng-if="conditions.more">
                    <div class="main col-sm-1">筛选结果：</div>
                    <div ng-repeat="mc in filterSelected" class="pl10 float-left">
                        <span>
                            <span ng-bind="::mc.name"></span>
                            <i class="iconfont shaixuan-i-delete ml5 mr15" ng-click="removeFilter(mc)">&#xe65e;</i>
                        </span>
                    </div>
                    <div class="col-sm-1 blue-color" ng-click="clearAllFilter()">清除所有条件</div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>