@media all and (max-width: 2000px) {
  .role-i-click {
    font-size: 14px !important;
  }
}
@media all and (max-width: 1440px) {
  .role-i-click {
    font-size: 12px !important;
  }
}
.role span i {
  cursor: pointer;
}
.role {
  margin: 0;
}
.role .iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}
.role .role-title {
  font-size: 16px;
}
.role a span {
  color: #333333;
}
.role a span:hover {
  color: #23527c;
}
.role .clickRole {
  color: #1f66cf;
}
.role .role-list {
  height: 550px;
  padding-left: 0;
}
.role .authority-list {
  height: 593px;
}
.role .role-list-info {
  height: 550px;
  margin-left: -15px;
  margin-right: -30px;
  overflow-y: auto;
}
.role .role-list-info-down {
  height: 504px;
  margin-left: -15px;
  margin-right: -30px;
  overflow-y: auto;
}
.role .menu-list,
.role .operation-list {
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto;
}
.role .role-edit {
  margin-left: -10px;
  margin-right: -25px;
  padding: 5px;
  border: 1px solid #1f66c7;
  border-radius: 5px;
}
.role #child-system-label,
.role #child-system-menu-label,
.role #child-system-operation-label {
  padding-top: 20px;
  margin-left: 10px;
}
.role .role-operation-s {
  padding: 10px 10px 10px 20px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid #e2e5ed;
}
.role .childOpened {
  color: #1f66cf;
}
.role .save-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.role .select-count {
  color: #1f66cf;
}
.user-title-r-s {
  float: right;
  width: 72%;
}
.user-title-l-s {
  width: 27%;
}
.role-i-create {
  color: #6DD566;
  margin-right: 5px;
}
.role-i-edit {
  color: #1B69CB;
  margin-right: 5px;
}
.role-i-delete {
  color: #FF3E45 ;
  margin-right: 5px;
}
.role-i {
  width: 14px;
  display: inline-block;
}
.padding-special {
  padding-left: 0;
  padding-right: 10px;
}
.child-system-ul {
  padding: 10px 0 10px 0 !important;
  border-bottom: 1px solid #e2e5ed;
}
.role-click-ul {
  margin: 0;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #e2e5ed;
}
.role-a {
  text-decoration: none !important;
}
.role-a span:hover {
  color: #666666 !important;
}
.role-a-1 i:hover {
  color: #73de5e;
}
.role-a-2 i:hover {
  color: #3080ee;
}
.role-a-3 i:hover {
  color: #ff7373;
}
.role-btn {
  height: 34px;
  font-size: 14px;
  border-radius: 0;
}
.check-all-box {
  margin-left: 8px;
  margin-top: 15px;
}
.check-all-box .all-checkbox {
  line-height: 16px;
  margin-right: 2px;
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("../../assets/images/tree/quanxuan.png");
}
.check-all-box .all-uncheckbox {
  line-height: 16px;
  margin-right: 2px;
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("../../assets/images/tree/weixuan.png");
}
.checkbox-span {
  margin-left: -3px;
}
