<div class="list-page two-form border-none">
	<div class="canvas_title">卡密码
	</div>
	<div class="panel-body">
	<uib-tabset active="activeForm" style="background: white;margin-top: 10px;font-size: 16px">
    <!-- 会员tab -->
    <uib-tab index="0" heading="修改密码">
			<form class="form-horizontal recharge-form" autocomplete="off" name="editPasswdForm" ng-submit="saveEditPasswd()" novalidate>
				<div class="form-group">
					<label for="cardNo" class="col-sm-3 control-label control-label-left">卡号/手机号：</label>
					<div class="col-sm-8 company-col">
					  <input type="text" class="form-control consume-text-size"  placeholder="请输入卡号或手机号" ng-model="editPasswdVo.cardNo"
					  required="required" ng-disabled="cardNoDisabled" ng-blur="getMemeberAndCardInfo(editPasswdVo.cardNo)" autocomplete="off"  maxlength="16"
					  ng-pattern="/^(((13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8})|([1-9](\d{4,9}|\d{11,15})))$/" autofocus
					  tooltip-trigger="blur" uib-tooltip="{{editPasswdForm.cardNo.$invalid && editPasswdForm.cardNo.$dirty ?'请填写正确的卡号/手机号':''}}" tooltip-placement="bottom" >
					</div>
				</div>
				
				<div class="form-group">
					<label for="oldPasswd" class="col-sm-3 control-label control-label-left">旧密码：</label>
					<div class="col-sm-8 company-col">
					  <input type="password" class="form-control consume-text-size" ng-model="editPasswdVo.oldPasswd" 
					  required="required" id="oldPasswd" name="oldPasswd" maxlength="6"
					  ng-pattern="/^\d{6}$/" tooltip-trigger="blur"  tooltip-placement="bottom" placeholder="请输入6位数字旧密码!" autocomplete="off"
					  uib-tooltip="{{editPasswdForm.oldPasswd.$invalid && editPasswdForm.oldPasswd.$dirty?'请输入6位旧密码!':''}}" />
					</div>
				</div>
				<div class="form-group">
					<label for="newPasswd" class="col-sm-3 control-label control-label-left">新密码：</label>
					<div class="col-sm-8 company-col">
					  <input type="password" class="form-control consume-text-size"  ng-model="editPasswdVo.newPasswd"
					  required="required" id="newPasswd" name="newPasswd" maxlength="6"
					  ng-pattern="/^\d{6}$/" tooltip-trigger="blur"  tooltip-placement="bottom" placeholder="请输入6位数字新密码!" autocomplete="off"
					  uib-tooltip="{{editPasswdForm.newPasswd.$invalid && editPasswdForm.newPasswd.$dirty?'请输入6位新密码!':''}}" />
					</div>
				</div>
				<div class="form-group">
					<label for="rePasswd" class="col-sm-3 control-label control-label-left">确认密码：</label>
					<div class="col-sm-8 company-col">
					  <input type="password" class="form-control consume-text-size"  ng-model="editPasswdVo.rePasswd"
					   required="required" id="rePasswd" name="rePasswd" maxlength="6"
					  ng-pattern="/^\d{6}$/" tooltip-trigger="blur"  tooltip-placement="bottom" placeholder="请再输入一次上述密码!" autocomplete="off"
					  uib-tooltip="{{validatePasswd()? tipMsg.repassword:''}}" />
					</div>
				</div>
				
				<div class="form-group">
			        <div class="col-sm-offset-3 col-sm-2 pl0">
			            <button type="submit"  class="btn btn-primary btn-default pos-btn " ng-disabled="editPasswdForm.$invalid || editPasswdVo.forbideSave ||! editPasswdVo.isValidNewPasswd">确定(Enter)</button>
			        </div>
			        <div class="col-sm-6 pl0">
			            <button type="button"  class="btn btn-default pos-btn" ng-click="goBack()">取消(Esc)</button>
			        </div>
			   </div>
			</form>
		</uib-tab>
	    <uib-tab index="1" heading="重置密码">
	        <form class="form-horizontal recharge-form" autocomplete="off"  name="resetPasswdForm" ng-submit="saveResetPasswd()" novalidate>
				<div class="form-group">
					<label for="cardNo" class="col-sm-3 control-label control-label-left">卡号/手机号：</label>
					<div class="col-sm-8 company-col">
					  <input type="text" class="form-control consume-text-size" id="cardNo2" name="cardNo2" placeholder="请输入卡号或手机号" ng-model="resetPasswdVo.cardNo"
					  required="required" ng-disabled="cardNoDisabled" ng-blur="getMemeberAndCardInfo(resetPasswdVo.cardNo)" autocomplete="off" maxlength="16"
					  ng-pattern="/^(((13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8})|([1-9](\d{4,9}|\d{11,15})))$/" autofocus
					  tooltip-trigger="blur" uib-tooltip="{{resetPasswdForm.cardNo2.$invalid && resetPasswdForm.cardNo2.$dirty ?'请填写正确的卡号/手机号':''}}" tooltip-placement="bottom" >
					</div>
				</div>
				<!-- <div class="form-group">
					<label for="newPasswd2" class="col-sm-3 control-label control-label-left">新密码：</label>
					<div class="col-sm-8 company-col">
					  <input type="password" class="form-control consume-text-size" id="newPasswd2"  name="newPasswd2" ng-model="resetPasswdVo.oldPasswd" required="required"
					  ng-pattern="/^\d{6}$/" tooltip-trigger="blur"  tooltip-placement="bottom" placeholder="请输入6位新密码!"
					  uib-tooltip="{{resetPasswdForm.newPasswd2.$invalid && resetPasswdForm.newPasswd2.$dirty?'请输入6位新密码!':''}}" />
					</div>
				</div> -->
				<div class="form-group">
			        <div class="col-sm-offset-3 col-sm-2 pl0">
			            <button type="submit"  class="btn btn-primary btn-default pos-btn " ng-disabled="resetPasswdForm.$invalid || resetPasswdVo.forbideSave">确定(Enter)</button>
			        </div>
			        <div class="col-sm-6 pl0">
			            <button type="button"  class="btn btn-default pos-btn" ng-click="goBack()">取消(Esc)</button>
			        </div>
			   </div>
			</form>
	    </uib-tab>
	</uib-tabset>
</div>