#rem {
  /* PX to REM Calculation */
  /* Use REM to create Padding */
  /* Use REM to create Margin */
  /* Use REM to create Border */
}
.company .iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}
.company .list-page {
  overflow: auto;
  line-height: 14px;
}
.company .media-object {
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 40px;
}
.company .media-heading {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  line-height: 20px;
}
.company .shop-info1 {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333333;
}
.company .shop-info2 {
  margin-bottom: 35px;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333333;
  line-height: 14px;
}
.company .col-sm-a {
  padding: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333333;
  margin-bottom: 15px;
}
.company .col-sm-b {
  padding: 0;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #333333;
  margin-bottom: 35px;
}
.company .bt-company {
  font-size: 14px;
  font-family: "微软雅黑";
  margin-left: 0;
  margin-bottom: 20px;
  background-color: #1A60BF;
  border: 1px solid #0E4FA9;
}
.company .sm-b {
  width: 14px;
  height: 14px;
  margin: auto 10px;
  color: #73CC62;
}
.company .sm-b-a {
  color: #2581FE;
  text-decoration: underline;
}
.company .list-group-item-special {
  border: none;
}
.company-edit-address {
  padding-top: 7px;
}
.shop-info {
  color: #333333;
  margin-bottom: 5px !important;
}
.shops-list-item {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-right: -1px;
  margin-left: -1px;
  padding: 20px;
  border-bottom: 0;
  border-top: 1px solid #e2e5ed;
  border-left: 1px solid #e2e5ed;
  border-right: 1px solid #e2e5ed;
}
.shop-list-img {
  width: 140px;
  height: 104px;
  margin-right: 15px;
  border: 1px solid #e2e5ed;
}
.shops-list-head {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 5px;
}
.shops-list-more {
  margin-top: -20px;
  color: #999999;
  cursor: pointer;
}
.shops-day-color1 {
  color: #fcb200;
  font-size: 14px;
  margin: 0 5px;
}
.shops-day-color2 {
  color: #ff1818;
  font-size: 14px;
  margin: 0 5px;
}
.shop-list-group-s {
  border-bottom: 0;
  margin-bottom: 0;
}
.padding-s {
  padding: 0;
}
.shops-edit-creat-i {
  float: right;
}
.shop-edit-creat-input {
  width: 75%;
  float: left;
  margin-right: 10px;
}
.shop-edit-creat {
  height: 200px;
  overflow: auto;
  margin-bottom: 20px;
  padding-left: 7px;
}
