.login-back {
  height: 540px;
  background-image: url(../images/login/bg_line.png);
  background-position: center;
}
.login-back .login-div {
  width: 930px;
  margin: auto;
}
.login-back .login-nav {
  text-align: left;
  position: relative;
  color: white;
  margin: auto;
  width: 930px;
  padding: 10px 0 20px 0;
}
.login-back .login-nav > i {
  font-size: 40px;
}
.login-back .login-nav > span {
  position: absolute;
  top: 30px;
}
.login-back .login-nav a {
  color: white;
}
.login-carousel {
  float: left;
  margin-top: 0;
  margin-right: 28px;
}
.login-carousel .carousel-control {
  display: none;
}
.login-carousel .carousel-indicators {
  bottom: -80px;
  margin: auto;
}
.login-carousel .carousel-indicators li {
  border-radius: 3px !important;
  width: 40px !important;
  height: 6px;
  background: white;
  opacity: .3;
}
.login-carousel .carousel-indicators .active {
  margin: 1px;
  opacity: 1 !important;
}
.login-carousel img {
  margin: auto;
  width: 562px;
  height: 320px !important;
}
.login-form {
  display: inline-block;
  height: 320px !important;
  width: 340px;
  background: white;
  border-radius: 5px;
  padding: 40px 10px;
}
.login-form .input-group-addon {
  padding: 8px 0 10px 10px;
  background: white;
}
.login-form a {
  color: #5a5a5a;
}
.login-form .login-register * {
  color: #2581fe;
}
.login-form .form-control {
  height: 40px;
}
.login-form .btn {
  margin-top: 10px;
  height: 45px;
  font-size: 16px;
}
.login-form i {
  font-size: 20px;
  color: #cccfd8;
}
.login-form .login-register i {
  vertical-align: bottom;
  margin-right: 0px;
}
@media all and (min-width: 1440px) {
  .login-form .login-register i {
    font-size: 14px;
  }
}
@media all and (max-width: 1440px) {
  .login-form .login-register i {
    font-size: 12px;
  }
}
.login-form input.ng-invalid {
  border-color: #d55653;
}
.login-form input.ng-invalid :focus {
  border-color: #aa4643;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D55653;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D55653;
}
.login-form .login-rmbPassword label {
  color: #5a5a5a;
  font-weight: normal;
  cursor: pointer;
}
.login-form .login-rmbPassword input[type=checkbox] {
  margin: 0;
  vertical-align: text-bottom;
}
@media all and (min-width: 1440px) {
  .login-form .login-rmbPassword input[type=checkbox] {
    width: 15px;
    height: 15px;
  }
}
@media all and (max-width: 1440px) {
  .login-form .login-rmbPassword input[type=checkbox] {
    width: 13px;
    height: 13px;
  }
}
.login-form .login-left {
  float: left;
}
.login-form .login-right {
  float: right;
}
.login-panel {
  padding: 75px 0 0 0;
  text-align: center;
  background: white;
}
.login-panel .col-sm-4 {
  padding-bottom: 80px;
}
.login-panel .thumbnail {
  border: none;
  padding: 0px;
}
.login-panel .thumbnail .caption {
  padding: 20px 0;
  font-size: 20px;
  color: #333333;
}
.login-panel .thumbnail .caption p {
  font-size: 14px;
  color: #666666;
  padding-top: 20px;
}
.login-panel h3 {
  font-size: 20px;
}
.login-panel p {
  font-size: 12px;
}
