.member-normal {
  color: white;
  background: #4cae4c;
}
.member-info {
  font-size: 10px;
  color: grey;
}
.list-members-manager {
  padding: 0;
}
.member-img {
  width: 64px;
  height: 64px;
  margin: 25px 20px 25px 22px;
}
.member-img-ml {
  margin-left: 21%;
}
.membesr-manager-body {
  vertical-align: middle;
}
.members-manager-btn {
  float: right;
  margin-right: 25px;
}
.members-manager-img-1 {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.members-manager-img-2 {
  width: 12px;
  height: 12px;
}
.member-head {
  margin-bottom: 15px;
}
.member-list-head {
  font-weight: bold;
  font-size: 16px;
}
.badgemember {
  display: inline-block;
  min-width: 10px;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: rgba(253, 253, 253, 0.98);
  text-align: center;
  white-space: nowrap;
  /* vertical-align: middle; */
  background-color: #6fcd45;
  border-radius: 10px;
  margin-left: 2px;
}
.under-pic-word {
  width: 120px;
  text-align: center;
  margin-left: 21%;
}
.member-detail-dt-icon {
  color: #f5b93c;
  margin-right: 5px;
  vertical-align: text-top;
}
.members-detail-title {
  background: none !important;
  border: none !important;
  padding: 20px 0px 0px 25px !important;
}
.member-detail-frame .panel1 {
  width: 100%;
  height: 320px;
  background-color: #edf6f6;
}
.member-detail-frame .panel2 {
  height: 320px;
  background-color: #f4f6fc;
}
.member-detail-frame .panel3 {
  height: 500px;
  background-color: #fef7f3;
}
.member-detail-frame .panel4 {
  height: 500px;
  background-color: #fff2f2;
}
