#rem {
  /* PX to REM Calculation */
  /* Use REM to create Padding */
  /* Use REM to create Margin */
  /* Use REM to create Border */
}
/*交易类型样式*/
.trade-type-sale {
  color: white;
  background: #6586e4;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-recharge {
  color: white;
  background: #f9bd3d;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-score {
  color: white;
  background: #75c46a;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-transfer {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-sellCard {
  color: white;
  background: #5ebfef;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-changeCard {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-backCard {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-loss {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-cancelLoss {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-changePassword {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-resetPassword {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-changeCardType {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.trade-type-validity {
  color: white;
  background: #9dc9ee;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 17px;
}
.batch-charge-table .list-table {
  overflow-x: auto;
}
.batch-charge-table .list-table table {
  min-width: 1361px;
}
