<div>
	<div class="modal-header" ng-if="info.type != 'ok'&&info.type != 'fail'">
		<h3 class="modal-title">{{info.title}}</h3>
	</div>
	<div class="modal-body text-center-important {{(info.type === 'ok'||info.type==='fail')?'modal-ok':''}}">
		<i class="iconfont success" ng-if="info.type === 'ok'">&#xe672;</i>
		<i class="iconfont error" ng-if="info.type === 'fail'">&#xe683;</i>
				{{ info.content }}
	</div>
	<div class="modal-footer" ng-if="info.type!= 'ok'&&info.type != 'fail'" style="text-align: center;border: none">
		<input type="button" class="main-all-btn-b" style="margin-right: 6px" ng-click="ok()" autofocus="autofocus" value="确定">
		<button class="main-all-btn-w" type="button" ng-click="cancel()" ng-show="info.type === 'confirm'">取消</button>
	</div> 
</div>