<div class="panel" style="overflow: auto;">
    <div class="canvas_title"><span>自定义指标</span>
        <i class="iconfont select-param-i" ng-click="closeTab()">&#xe633;</i>
    </div>
        <table class="table table-striped table-style-all">
            <tr>
                <td class="select-param-td-1">会员消费账单</td>
                <td ></td>
                <td  >会员储值账单</td>
                <td  ></td>
                <td  >会员积分</td>
                <td  ></td>
                <td  >会员卡操作</td>
                <td  ></td>
            </tr>
            <tr>
                <td class="select-param-td-1"><input id="all_money_sum" type="checkbox" class="select-param-input"><span>总营业额(元)</span></td>
                <td ></td>
                <td ><input id="money_in_count" type="checkbox" class="select-param-input"><span>储值笔数(笔)</span></td>
                <td ></td>

                <td ><input id="integration_in_count" type="checkbox" class="select-param-input"><span>积分笔数(笔)</span></td>
                <td ></td>
                <td ><input id="buy_card_count" type="checkbox" class="select-param-input"><span>售卡数</span></td>
                <td ></td>
            </tr>
            <tr>
                <td class="select-param-td-1"><input id="member_money_sum" type="checkbox" class="select-param-input"><span>会员消费额(元)</span></td>
                <td ></td>
                <td ><input id="money_in_sum" type="checkbox" class="select-param-input"><span>储值本金(元)</span></td>
                <td ></td>

                <td ><input id="integration_in_sum" type="checkbox" class="select-param-input"><span>产生积分</span></td>
                <td ></td>
                <td ><input id="buy_card_sum" type="checkbox" class="select-param-input"><span>工本费(元)</span></td>
                <td ></td>
            </tr>
            <tr>
                <td class="select-param-td-1"><input id="money_out_sum" type="checkbox" class="select-param-input"><span>消费本金(元)</span></td>
                <td ></td>
                <td ><input id="givemoney_in_sum" type="checkbox" class="select-param-input"><span>储值赠送金额(元)</span></td>
                <td ></td>

                <td ><input id="integration_out_count" type="checkbox" class="select-param-input"><span>消耗笔数(笔)</span></td>
                <td ></td>
                <td ><input id="cancel_card_count" type="checkbox" class="select-param-input"><span>退卡数</span></td>
                <td ></td>
            </tr>
            <tr>
                <td class="select-param-td-1"><input id="givemoney_out_sum" type="checkbox" class="select-param-input"><span>消费赠送金额(元)</span></td>
                <td ></td>
                <td ></td>
                <td ></td>

                <td ><input id="integration_out_sum" type="checkbox" class="select-param-input"><span>消耗积分</span></td>
                <td ></td>
                <td ><input id="cancel_card_sum" type="checkbox" class="select-param-input"><span>退卡金额</span></td>
                <td ></td>
            </tr>
            <tr>
                <td class="select-param-td-1"><input id="v1" type="checkbox" class="select-param-input"><span>消费金额占比</span></td>
                <td ></td>
                <td ></td>
                <td > </td>

                <td ></td>
                <td > </td>
                <td ><input id="change_crad_type_count" type="checkbox" class="select-param-input"><span>修改卡型</span></td>
                <td ></td>
            </tr>
            <tr>
                <td class="select-param-td-1"><input id="all_money_count" type="checkbox" class="select-param-input"><span>总消费笔数</span></td>
                <td ></td>
                <td ></td>
                <td > </td>

                <td ></td>
                <td > </td>
                <td ><input id="update_card_count" type="checkbox" class="select-param-input"><span>换卡</span></td>
                <td ></td>
            </tr>
            <tr>
                <td class="select-param-td-1"><input id="member_money_count" type="checkbox" class="select-param-input"><span>会员消费笔数</span></td>
                <td ></td>
                <td ></td>
                <td > </td>

                <td ></td>
                <td > </td>
                <td ><input id="change_crad_date_count" type="checkbox" class="select-param-input"><span>修改有效期</span></td>
                <td ></td>
            </tr>
            <tr style="border-bottom: 1px solid #E2E5ED;">
                <td class="select-param-td-1"><input id="v2" type="checkbox" class="select-param-input"><span>笔数占比</span></td>
                <td ></td>
                <td ></td>
                <td > </td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td > </td>         
            </tr>
        </table>
    <div class="select-param-btn" >
        <button class="main-all-btn-b" ng-click="oo()" style="margin-right: 10px;">确定</button><!--
        --><button class="main-all-btn-w" ng-click="closeTab()">取消</button>
    </div>
    	<script>
		try{
		var param = window.param;
		document.getElementById("all_money_sum").checked = param["all_money_sum"];
		document.getElementById("member_money_sum").checked = param["member_money_sum"];
		document.getElementById("money_out_sum").checked = param["money_out_sum"];
		document.getElementById("givemoney_out_sum").checked = param["givemoney_out_sum"];
		document.getElementById("all_money_count").checked = param["all_money_count"];
		document.getElementById("member_money_count").checked = param["member_money_count"];
		document.getElementById("money_in_count").checked = param["money_in_count"];
		document.getElementById("money_in_sum").checked = param["money_in_sum"];
		document.getElementById("givemoney_in_sum").checked = param["givemoney_in_sum"];
		document.getElementById("integration_in_count").checked = param["integration_in_count"];
		document.getElementById("integration_in_sum").checked = param["integration_in_sum"];
		document.getElementById("integration_out_count").checked = param["integration_out_count"];
		document.getElementById("integration_out_sum").checked = param["integration_out_sum"];
		document.getElementById("buy_card_count").checked = param["buy_card_count"];
		document.getElementById("buy_card_sum").checked = param["buy_card_sum"];
		document.getElementById("cancel_card_count").checked = param["cancel_card_count"];
		document.getElementById("cancel_card_sum").checked = param["cancel_card_sum"];
		document.getElementById("change_crad_type_count").checked = param["change_crad_type_count"];
		document.getElementById("update_card_count").checked = param["update_card_count"];
		document.getElementById("change_crad_date_count").checked = param["change_crad_date_count"];
		
		document.getElementById("v1").checked = param["v1"];
		document.getElementById("v2").checked = param["v2"];
/* 		document.getElementById("v1").checked = param["v1"];
		document.getElementById("v2").checked = param["v2"]; */
		}catch(e){
			document.getElementById("all_money_sum").checked =true;
			document.getElementById("member_money_sum").checked = true;
			document.getElementById("money_out_sum").checked = true;
			document.getElementById("givemoney_out_sum").checked = true;
			document.getElementById("all_money_count").checked = true;
			document.getElementById("member_money_count").checked = true;
			document.getElementById("money_in_count").checked = true;
			document.getElementById("money_in_sum").checked = true;
			document.getElementById("givemoney_in_sum").checked = true;
			document.getElementById("integration_in_count").checked = true;
			document.getElementById("integration_in_sum").checked = true;
			document.getElementById("integration_out_count").checked = true;
			document.getElementById("integration_out_sum").checked = true;
			document.getElementById("buy_card_count").checked = true;
			document.getElementById("buy_card_sum").checked = true;
			document.getElementById("cancel_card_count").checked = true;
			document.getElementById("cancel_card_sum").checked = true;
			document.getElementById("change_crad_type_count").checked = true;
			document.getElementById("update_card_count").checked = true;
			document.getElementById("change_crad_date_count").checked = true;
			document.getElementById("v1").checked = true;
			document.getElementById("v2").checked = true;
		}
		
	</script>
</div>