<!--<div>编辑会员资料</div>-->
<div class="list-page border-none">
    <div class="canvas_title">
        会员编辑
    </div>

    <div class="panel-body" style="background: white;">
        <form class="form-horizontal" autocomplete="off" name="updateMemberForm" ng-submit="updateMember(member)"
              novalidate>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label  control-label-left">姓名:</label>
                <div class="col-sm-8">
                    <input type="text"  class="form-control form-control-input ed-company" id="name" name="name"
                           ng-model="member.name"  set-focus="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label control-label-left" for="mobile">手机号:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-input" id="mobile" name="mobile"
                           ng-model="member.mobile"
                           tooltip-trigger="blur" uib-tooltip="{{updateMemberForm.mobile.$invalid?'请输入11位手机号码':''}}"
                           ng-pattern="/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/"
                           ng-blur="validateMobile()" tooltip-placement="bottom" placeholder="请输入11位手机号码"/>
                </div>
            </div>
            <div class="form-group" ng-if="displayValidateCode">
                <label class="col-sm-2 control-label control-label-left" for="passwd">验证码：</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-input"
                           name="validatCode" id="validatCode"
                           ng-model="member.validatCode"
                           ng-blur="checkValidateCode(member.validatCode,member.mobile)"/>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn  btn-default" ng-click="getValidateCode()">发送验证码</button>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label control-label-left">电子邮箱:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-input ed-company" id="email" name="email"
                           ng-model="member.email"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label control-label-left"><font color="red">*</font>性别:</label>
                <div class="col-sm-10 form-input-sex form-control-input">
                    <label><input type="radio" name="sex" value="1" ng-model="member.sex" required>男</label>&nbsp;&nbsp;
                    <label><input type="radio" name="sex" value="0" ng-model="member.sex" required>女</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label control-label-left"><font color="red">*</font>生日:</label>
                <div class="col-sm-2">
                    <select name="birthday" class="form-control form-control-input ed-company"
                            ng-model="member.birthdayType">
                        <option ng-repeat="birthdayTypeNode in birthdayTypeList" value="{{birthdayTypeNode.value}}">
                            {{birthdayTypeNode.name}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-8 ">
                    <p class="input-group form-control-input ed-company" style="width:74.6%;">
                        <input type="text"
                               class="form-control form-control-input ed-company form-control-input-width"
                               uib-datepicker-popup="yyyy/MM/dd" ng-model="member.birthdayStr"
                               is-open="popup1.opened" ng-required="true" close-text="Close"/>
						  <span class="input-group-btn ">
							<button type="button" class="btn btn-default company-btn-date"
                                    ng-click="popup1.opened = true;"><i class="glyphicon glyphicon-calendar"></i>
                            </button>
						  </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="byInviteCode" class="col-sm-2 control-label control-label-left">邀请人:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-input ed-company" id="byInviteCode"
                           name="byInviteCode" ng-model="member.byInviteMemberName" disabled="disabled"/>
                </div>
                <label for="myInviteCode"
                       class="col-sm-2 control-label control-label-left form-margin-left-special">我的邀请码:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-input ed-company" id="myInviteCode"
                           name="myInviteCode" ng-model="member.myInviteCode" disabled="disabled"/>
                </div>
            </div>
            <div class="form-group">
                <label for="accountType" class="col-sm-2 control-label control-label-left">来源:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-input ed-company" id="accountType"
                           name="accountType" ng-model="member.accountType" disabled="disabled"/>
                </div>
                <label for="shopName"
                       class="col-sm-2 control-label control-label-left form-margin-left-special">所属门店:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-input ed-company" id="shopName"
                           name="shopName" ng-model="member.shopName" disabled="disabled"/>
                </div>
            </div>

			 <div class="form-group">
				 <div class="col-sm-offset-2 more" ng-click="updateMemberForm.isCollapsed = !updateMemberForm.isCollapsed"
	                 ng-init="updateMemberForm.isCollapsed = true;"
	                 style="margin-bottom: 5px;">
	                <span ng-bind="updateMemberForm.isCollapsed|getMore:updateMemberForm.isCollapsed"></span>
					 <flex flex-data="!updateMemberForm.isCollapsed" style="float:none;"></flex>
	            </div>
            </div>
			<div uib-collapse="updateMemberForm.isCollapsed">	
            <div class="form-group">
                <label class="col-sm-2 control-label control-label-left" for="nation">民族:</label>
                <div class="col-sm-8">
                    <select class="form-control form-control-input ed-company" name="nation" id="nation"
                            ng-model="member.nation">
                        <option ng-repeat="nationNode in nationList" value="{{nationNode.value}}">
                            {{nationNode.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label control-label-left">证件:</label>
                <div class="col-sm-2">
                    <select class="form-control form-control-input ed-company" name="cardKind" id="cardKind"
                            ng-model="member.cardKind">
                        <option ng-repeat="cardKindNode in cardKindList" value="{{cardKindNode.value}}">
                            {{cardKindNode.name}}
                        </option>
                    </select>


                </div>
                <div class="col-sm-8 company-col">
                    <input type="text" class="form-control form-control-input ed-company" id="certificateNo"
                           name="certificateNo" ng-model="member.certificateNo"
                           style="padding-left:0px; width: 74.6%;"/>
                </div>
            </div>
            <div class="form-group">
                <label for="workUnit" class="col-sm-2 control-label control-label-left">单位:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-input ed-company" id="workUnit"
                           name="workUnit" ng-model="member.workUnit"/>
                </div>
                <label for="job"
                       class="col-sm-1 control-label control-label-left form-margin-left-special">职位:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-input ed-company" id="job" name="job"
                           ng-model="member.job"/>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label control-label-left">地址:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-input ed-company" id="address"
                           name="address" ng-model="member.address"/>
                </div>
            </div>
            <div class="form-group" style="margin-bottom:35px;">
                <label for="note" class="col-sm-2 control-label control-label-left">备注:</label>
                <div class="col-sm-8">
                        <textarea type="text" class="form-control form-control-input ed-company" id="note" name="note"
                                  ng-model="member.note" style="height: auto;"></textarea>
                </div>
            </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-1">
                    <button type="submit" class="btn main-all-btn-b btn-default"
                            ng-disabled="updateMemberForm.$invalid||displayValidateCode">保存
                    </button>
                </div>
                <div class="col-sm-6 form-btn-right">
                    <button type="button" class="btn main-all-btn-w btn-default" ng-click="cancel()">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>