<div class="alert-notice-head">
              <span >预警通知人<i class="iconfont alert-tooltip-icon" tooltip-trigger="mouseenter"
                             uib-tooltip="注：设置后预警通知将发送到相应人员的联系方式。"
                             tooltip-placement="right">&#xe652;</i></span>
    <button type="button"  class="main-all-btn-b"  ng-click="showRecipientModal()">添加接收人</button>
</div>
<div>
    <table class="table table-striped table-style-all" style="border:1px solid #ddd;">
        <tr class="table-tr-first">
            <th>预警接收人</th>
            <th>配置接收预警类型</th>
            <th style="text-align: center;">
                <div class="table--sort-special ml5 mr10">
                    操作
                </div>
            </th>
        </tr>
        <tr ng-repeat="recipient in recipients track by $index">
            <td>
                <span ng-bind="recipient.empName"></span>
            </td>
            <td class="row">
                <span class="col-sm-3 ">
                    <input type="checkbox" class="alert-notice-checkbox" ng-true-value="1" ng-false-value="0" ng-model="recipient.businessFlg">
                    <span>交易预警</span>
                </span>
                <span class="col-sm-3 ">
                    <input type="checkbox"class="alert-notice-checkbox" ng-true-value="1" ng-false-value="0" ng-model="recipient.orderFlg">
                    <span>订单预警</span>
                </span>
                <span class="col-sm-3 ">
                    <input type="checkbox" class="alert-notice-checkbox" ng-true-value="1" ng-false-value="0" ng-model="recipient.smsFlg">
                    <span>短信预警</span>
                </span>
            </td>
            <td class="list-task-row text-nowrap relative">
                <i class="iconfont" aria-hidden="true" style="cursor: pointer;" ng-click="minusNotice($index)" tooltip-trigger="mouseenter" uib-tooltip="删除" tooltip-placement="top">&#xe67d;</i>
            </td>
        </tr>
    </table>
</div>
<div class="alert-checkbox">
    <button type="button" class="main-all-btn-b" ng-click="saveNotice()" ng-if="edit">保存</button>
</div>