<div>
    <div class="score-rule-detail">
        <dl class="rule-detail-dl row">
            <dt class="rule-detail-dt">
                <span class="rule-detail-dt-icon">■</span><span>基本信息</span>
            </dt>
            <dd>
                <div>
                    <span>规则名称：</span>
                    <span ng-bind="rule_data.savingRule.name"></span>
                </div>
            </dd>
            <dd>
                <div class="">
                    <span >储值方式：</span>
                        <span  ng-if="rule_data.savingRule.savingType==0">
                        线上储值
                    </span>
                        <span ng-if="rule_data.savingRule.savingType==1">
                        线下储值
                    </span>
                </div>
            </dd>
            <dd>
                <div class="score-rule-detail-concrete">
                    <span >赠送类型：</span>
                        <span  ng-if="rule_data.savingRule.givingType==0">
                       定额赠送
                    </span>
                        <span  ng-if="rule_data.savingRule.givingType==1">
                       比例赠送
                    </span>
                </div>
            </dd>
            <dd>
                <div class="score-rule-detail-concrete">
                    <div> 规则内容：</div>
                    <div class="score-rule-detail-concrete-content">
                        <table ng-if="rule_data.savingRule.givingType==0" class="table table-striped table-style-all" style="border:1px solid #ddd;">
                            <tr class="table-tr-first">
                                <th>充值金额（元）</th>
                                <th>赠送金额（元）</th>
                            </tr>
                            <tr ng-repeat="one in rule_data.givingInfo" ng-if="one.givingType==0">
                                <td>
                                    <span>满</span>
                                    <span ng-bind="one.limitMoney" style="font-weight:700;"></span>
                                </td>
                                <td>
                                    <span>赠送</span>
                                    <span ng-bind="one.givingMoney" style="font-weight:700;"></span>
                                </td>
                            </tr>
                        </table>
                        <table ng-if="rule_data.savingRule.givingType==1" class="table table-striped table-style-all" style="border:1px solid #ddd;">
                            <tr class="table-tr-first">
                                <th>充值金额（元）</th>
                                <th>赠送比例（%）</th>
                            </tr>
                            <tr ng-repeat="one in rule_data.givingInfo" ng-if="one.givingType==1">
                                <td>
                                    <span>满</span>
                                    <span ng-bind="one.limitMoney" style="font-weight:700;"></span>
                                </td>
                                <td>
                                    <span>赠送</span>
                                    <span ng-bind="one.givingProportion" style="font-weight:700;"></span>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

            </dd>
        </dl>
        <hr/>
        <dl class="rule-detail-dl row">
            <dt class="rule-detail-dt">
                <span class="rule-detail-dt-icon">■</span><span>终端限制</span>
            </dt>
            <dd>
                <div>
                    <span>适用终端</span>
                </div>
            </dd>
            <dd>
                <div class="col-md-6">
                    <table class="table table-striped table-style-all table-rule-style">
                        <thead>
                        <tr class="table-tr-first">
                            <th>终端号</th>
                            <th>终端名称</th>
                            <th>所属门店</th>
                        </tr>
                        </thead>
                       <tbody>
                       <tr ng-repeat="relTerminal in rule_data.relTerminals ">
                           <td ng-bind="relTerminal.code "></td>
                           <td ng-bind="relTerminal.showName "></td>
                           <td ng-bind="relTerminal.shopName "></td>
                       </tr>
                       </tbody>

                    </table>
                </div>
            </dd>

        </dl>
        <hr/>
        <dl class="rule-detail-dl row">
            <dt class="rule-detail-dt">
                <span class="rule-detail-dt-icon">■</span><span>有效期限制</span>
            </dt>
            <dd>
                <div ng-if="rule_data.savingRule.isTime==1">
                    <span>有效日期：</span>
                    <span><span ng-bind="date_start"></span>至<span ng-bind="date_end"></span></span>
                </div>
            </dd>
            <dd>

                <div ng-if="rule_data.savingRule.isWeek==1">
                    <span>有效星期：</span>
                    <span class="score-rule-detail-validate-week " ng-class="{ 'add':i.state} "
                          readonly="true " ng-repeat='i in weekDate' ng-bind="i.date"></span>
                </div>
            </dd>
        </dl>
        <hr/>
        <div class="row score-rule-detail-btn">
            <!--<dt>-->
            <div class="form-btn-left score-rule-detail-edit-btn">
                <button type="button " class="btn btn-primary main-all-btn-b" ng-click="gotoEdit(rule_data) " ng-if="editSavingRule">修改</button>
            </div>
            <div class="col-sm-6 form-btn-right">
                <button type="button " class="btn btn-default main-all-btn-w" ng-click="cancel() ">返回</button>
            </div>
            <!--</dt>-->

        </div>
    </div>
</div>
